/* --grullo: #afa298ff;
--rosy-brown: #c59082ff;
--feldgrau: #506a5fff;
--bole: #744c44ff;
--ash-gray: #a1aea7ff; */


/* Adding neutral background image */
body {
    background-image: url("https://images.pexels.com/photos/268261/pexels-photo-268261.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    }

/* Adding space between navbar and main content image */
.navbar {
    background: rgb(197,144,130);
    background: linear-gradient(0deg, rgba(197,144,130,1) 43%, rgba(116,76,68,1) 100%);
    margin-bottom: 20px;
}

.header-languages {
    color: #744c44;
}

/* Creating background around main-content */
.info-box{
    background-color:#a1aea7ff;
    padding: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}

#headshot{
    border-radius: 20px;
    width:100%;
}

a {
    color: #744c44ff;
}

a:hover {
    color: #506a5fff;
}




/* Changing style of my name at top of page */
#brand {
    color: #ffffff;
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    font-size: 30px;
}

/* Changing style of main-content header */
h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    color:  #506a5fff;
}

.skills h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-weight: bold;
    color:  #506a5fff;
}


/* changing style of buttons */
.btn {
    background-color: #744c44ff;
    padding: 10px;
    border-color:black;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%
}


/* Making images respond to window width */
.responsive-image {
    width: 100%;
    height: auto;
}

.portfolio .btn {
    width: 49%;
}

footer {
/* Creating footer */
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C59082;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
/* Blue stripe on top of footer */
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    border-color: #744C44;
/* Footer text */    
    color:white;
    text-align: center;
}

.push{
    margin: 70px;
}