body {
    background-image: url("https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
   }

.container .mt-5 {
    background-color: white;
    padding: 20px;
    margin-top: 1.5rem;
    margin-bottom: 40px;
}

.nav-link {
    color: gray;
}

#disabled {
    color: black;
}

#brand {
    color: #ffffff;
    background-color: rgb(23, 146, 134);
    font-family: 'Source Serif Pro', serif;
}

h1 {
    font-family: 'Source Serif Pro', serif;
    color:  rgb(23, 146, 134);
}

footer {
    padding: 20px;
    background-color: rgb(107, 114, 121);
    width: 100%;
    border-style: solid;
    border-width: 10px 0px 0px 0px;
    border-color: rgb(23, 146, 134);
    color: rgb(23, 146, 134);
    text-align: center;
}


